# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Streamlit
.streamlit/secrets.toml

# Virtual Enviroments
venv/
env/
ENV/
.env

# Data (Don't upload large datasets)
data/ml-latest-small/
# Keep the data folder structure but ignore contents except README if needed
!data/README.md

# OS
.DS_Store
Thumbs.db
